<ul class="text-center list-inline hidden-xs">
  <li>Copyright &copy; {{year}} - <a href="{{author.url}}">{{author.name}}</a></li>
  <li><a href="{{site.source}}">Source Code</a></li>
  <li><a href="{{site.url}}">Data</a></li>
</ul>
<ul class="text-center list-inline visible-xs">
  <li>&copy; {{year}} - <a href="{{author.url}}">{{author.handle}}</a></li>
  <li><a href="{{site.source}}">Source</a></li>
  <li><a href="{{site.url}}">Data</a></li>
</ul>
